@charset "utf-8";

body {
  background-color: #8bc34a;
  min-height: 0;
}

#sign-form-box {
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  left: 0;
  margin: 64px auto;
  max-width: 540px;
  min-width: 320px;
  padding: 36px 5%;
  position: relative;
  top: 0;
  width: 80%;
}

#sign-top-logo {
  left: 0;
  margin: 0 auto;
  position: relative;
  top: 0;
  width: 60%;
}

#sign-top-logo img {
  width: 100%;
}

.mdl-textfield__label__icon {
  position: absolute;
  left: 0;
  top: 24px;
}

.mdl-textfield {
  width: 100%;
}

.mdl-textfield__label__icon {
  width: 32px;
}

.mdl-textfield__input {
  font-size: 18px;
  left: 32px;
  line-height: 24px;
  top: 0;
  position: relative;
  width: calc(100% - 32px);
}

.mdl-textfield.is-focused {
  width: 100%;
}

.mdl-textfield__label {
  position: absolute;
  left: 32px;
  top: 28px;
  width: 100%;
}

.is-focused .mdl-textfield__label {
  width: calc(100% - 32px);
}

#signup-submit, #signin-submit {
  font-size: 20px;
  height: 56px;
  margin: 1em 0;
  padding: 8px;
  position: relative;
  width: 100%;
}

#sign-notice p {
  text-align: center;
}

p.err-msg {
  color: red;
  font-size: 12px;
  left: 0;
  margin: 0;
  position: relative;
  top: -4px;
}

/* スマートフォン用 */

@media screen and (max-width: 480px) {

  body {
    background-color: #fff;
  }
  
  #sign-form-box {
    box-shadow: none;
    margin: 0;
    max-width: 480px;
    min-width: 0;
    padding: 36px 5%;
    width: 90%;
  }
  
  #sign-top-logo {
    width: 90%;
  }
  
  .mdl-textfield {
    width: 100%;
  }
  
  .mdl-textfield__input, .mdl-textfield__label, .is-focused .mdl-textfield__label  {
    width: calc(95% - 16px);
  }
}